<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>History</ion-title>
    <ion-buttons slot="end">
      <ion-button
        [disabled]="historyData().length === 0"
        (click)="presentConfirmClearHistoryAlert()"
      >
        <ion-icon slot="icon-only" name="trash" color="danger"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <ion-list>
    @if (historyData().length === 0) {

    <ion-item lines="none">
      <div class="flex w-full flex-col items-center justify-center gap-2 py-4">
        <ion-label>No scans recorded so far</ion-label>
        <ion-icon size="large" name="file-tray-stacked-outline"></ion-icon>
      </div>
    </ion-item>
    } @else {@for(scan of historyData(); track scan.date) {
    <ion-item-sliding #slidingElement>
      <ion-item>
        <ion-label>
          <h2>{{ scan.text }}</h2>
          <p>{{ scan.date | date : 'MMMM d, y, h:mm:ss a' }}</p>
        </ion-label>
        <ion-icon slot="end" name="chevron-back-outline"></ion-icon>
      </ion-item>
      <ion-item-options>
        <ion-item-option
          (click)="presentConfirmRemoveItemFromHistory(scan.id, slidingElement)"
          color="danger"
        >
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
        <ion-item-option (click)="copyToClipboard(scan.text, slidingElement)">
          <ion-icon slot="icon-only" name="copy-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    }}
  </ion-list>
</ion-content>
