<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Create</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="flex items-center justify-center mt-8">
    @if(textToBeEncoded().trim().length > 0) {
    <qrcode
      #qrCodeParent
      class="rounded-lg overflow-hidden"
      [qrdata]="textToBeEncoded()"
      [width]="256"
      [errorCorrectionLevel]="'M'"
    ></qrcode>
    } @else {
    <div class="">
      <img
        alt="placeholder qrcode"
        class="w-[256px] h-[]"
        src="assets/placeholder-qrcode.png"
        width="256"
        height="256"
      />
    </div>
    }
  </div>

  <ion-card class="mt-12">
    <ion-card-content class="">
      <ion-textarea
        rows="10"
        labelPlacement="floating"
        label="Type or paste text to encode"
        (change)="onTextChange($event)"
      ></ion-textarea>
    </ion-card-content>
  </ion-card>

  <ion-button size="block" class="px-2">
    <ion-label>Save</ion-label>
    <ion-icon slot="end" name="save-outline"></ion-icon>
  </ion-button>
</ion-content>
